@media screen and (max-width: 1000px) {
    p {
        font-size: 0.9rem;
        line-height: 1.8rem;
    }

    .grid-3 {
        gap: 1rem;
    }

    .skills-right ul li {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 825px) {

    .burger {
        display: block;
        cursor: pointer;
    }

    .toggle-burger .line-1 {
        transform: rotate(-45deg) translate(-5px, 7px);
    }

    .toggle-burger .line-2 {
        opacity: 0;
    }

    .toggle-burger .line-3 {
        transform: rotate(45deg) translate(-5px, -7px);
    }

    nav {
        position: fixed;
        width: 60%;
        right: 0;
        top: 0;
        height: 100vh;
        flex-direction: column;
        background: var(--primaryBackgroundColor);
        border-left: 1px solid var(--borderColor);
        z-index: 9;
        transform: translateX(100%);
        transition: transform 0.3s ease-in-out;
        display: flex;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding-top: 100px;
        gap: 2rem;
    }



    nav.nav-active {
        transform: translateX(0);
    }

    :root {
        --sectionPadding: 4rem 0;
    }

    .section-title {
        font-size: 1.6rem;
        margin: 0.6rem 0 2.5rem;
    }

    .pre-title {
        font-size: 0.8rem;
    }

    .hero {
        grid-template-columns: 1fr;
        height: fit-content;
    }

    .hero-right {
        order: -1;
        width: 85%;
        margin: 0 auto;
    }

    .hero-left {
        text-align: center;
        align-items: center;
        margin-top: -60px;
    }

    .hero-right img {
        max-width: 320px;
        width: 100%;
    }

    .hero-name {
        font-size: 2.3rem;
        margin-bottom: 0.5rem;
    }

    .skills-grid {
        gap: 1rem;
    }

}


@media screen and (max-width: 640px) {
    .section-title {
        font-size: 1.3rem;
    }

    .pre-title {
        font-size: 0.7rem;
    }
}